@import url("https://fonts.googleapis.com/css2?family=Volkhov&display=swap");

.App {
  text-align: center;
  height: 100vh;

  background-image: linear-gradient(rgb(131, 240, 250), rgb(218, 205, 253));
  overflow: scroll;
  font-family: "Volkhov", serif;
}

.headerPanel {
  height: 20vh;
  width: 80vw;
  min-height: 100px;
  background-color: rgb(253, 184, 232);
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -5px 5px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -10px 10px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 20px;
  display: grid;
  place-items: center;
  margin-top: 10px;
}

.headerPanel h1 {
  text-align: left;
  font-size: xx-large;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

.ControlPanel {
  margin-top: 20px;
  width: 40vh;
  min-width: 200px;

  height: 5vh;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.ControlPanel select {
  float: right;
}

.ControlPanel button {
  float: left;
  background-color: greenyellow;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -5px 5px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -10px 10px 0px inset,
    0 0 0 0 rgba(232, 240, 128, 0.007);
}

.PersonList {
  height: 80vh;
  width: 70vw;
  max-width: 900px;
  background-image: linear-gradient(rgb(97, 212, 246), rgb(218, 205, 253));
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -5px 5px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -10px 10px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  margin-top: 4vh;
}

.HeaderContainer {
  width: 60vw;
  height: 5vh;
  min-width: 300px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex: 1;
  align-items: center;
}
.LastNameHeader {
  flex: 4;
  text-align: left;
  margin-left: 2vw;
}

.FirstNameHeader {
  flex: 3;
  text-align: left;
}

.AgeHeader {
  flex: 2;
  position: relative;
  right: 2vw;
}

.Person {
  width: 60vw;
  height: 8vh;
  min-width: 300px;
  max-width: 600px;
  background-color: rgb(145, 255, 227);
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 10px;
  font-size: medium;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -5px 5px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -10px 10px 0px inset,
    0 0 0 0 rgba(232, 240, 128, 0.007);
  margin-top: 2vh;
}

.Person:hover {
  transform: scale(0.98);
}
.LastName {
  flex: 4;
  text-align: left;
  margin-left: 2vw;
}

.FirstName {
  flex: 3;
  text-align: left;
}

.Age {
  flex: 2;
  position: relative;
  right: 2vw;
}
.modalBG {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}

.Modal {
  width: 40vw;
  max-width: 500px;
  height: 60vh;
  min-height: 300px;
  min-width: 350px;
  border-radius: 20px;
  background-color: rgb(255, 227, 254);

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -5px 5px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -10px 10px 0px inset;
}
.Modal .exitBtn {
  float: right;
}

@media only screen and (max-width: 480px) {
  .Person {
    min-width: 250px;
    font-size: small;
    height: 6vh;
  }
  .HeaderContainer {
    min-width: 250px;
    font-size: small;
  }

  .PanelContainer h1 {
    font-size: large;
  }

  .ControlPanel {
    min-width: 150px;
  }
}

@media only screen and (max-width: 330px) {
  .Person {
    min-width: 200px;
  }
  .HeaderContainer {
    min-width: 200px;
  }

  .PanelContainer h1 {
    font-size: medium;
  }
}
